body{
  background:#dbdbdb;
  font-family:'Nunito Sans', sans-serif;
  a{
    text-decoration:none;
  }
}

.circle-multiline {
  box-shadow: -4px 3px 35px -1px rgba(0,0,0,0.75);
  display: block;
    margin: 0 auto;
    padding-top: 1px;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: black;
    color: white;
    position:relative;
  h1{
    font-size:0;
    margin:0;
    margin-top:60px;
  }
  h2{
    margin:0;
    font-size:0;
  }

}
.circle-singleline {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 60px;
    text-align: center;
    background: red;
    color: white;
    display:inline-block;
    position:absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index:-1;
    opacity:0;
}
.nav{
  height:3rem;
  width:100%;
  background:black;
  position:fixed;
  top:0;
  z-index:3;
  a{
    text-decoration:none;
  }
  h1{
    margin: 0;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-left: 1rem;
    padding-bottom: 6px;
    padding-right: 1rem;
    background:rgba(255,255,255,.2);
  }
}
.header{
  position:fixed;
  z-index:2;
}
.nav-links{
  position:relative;
  font-size:1rem;
  display:block;
  padding-top:1rem;
  padding-bottom:1rem;
  background:black;
  color:white;
  width:10rem;
  padding-left:1rem;
  transition:background .3s ease-in-out;
  &:hover{
    background:#333333;
  }

  .fa{
    font-size:1rem;
    float:right;
    margin-right:1rem;
    padding-top:4px;
  }
}
.nav-top{
  margin-top:1rem;
}

.nav-accent{
  width:0;
  height:.3rem;
  background:#88d1fb;
}
.intro{
  background:url('../assets/images/background.jpg');
  background-repeat:no-repeat;
  position:relative;
  margin-top:2rem;
  img{
    width: 22rem;
    position: absolute;
    right: 0;
    top: 1rem;
    z-index: 0;
}
}
.top-info{
  width:13rem;
  padding-top:6rem;
  h2{
    font-family: 'Archivo Black', sans-serif;
    margin-top: 0;
    color: white;
    font-size: 28px;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    left:-100%;
    opacity:0;
  }
  ul{
    padding: 0;
    list-style: none;
    color: white;
    text-align: center;
    border-top: 1px solid white;
    padding-top: .5rem;
    margin-top: -28px;
    padding-left: .5rem;
    opacity:0;
    li{
      display: inline-block;
    border-right: 1px solid white;
    padding-right: 9px;
    font-size: 9px;
    position:relative;
    z-index:1;
    }
    li:last-of-type{
      border-right:none;
    }
  }
  a{
    text-decoration: none;
    color: white;
    padding: .5rem;
    border: 1px solid white;
    display: inline-block;
    margin-left: 3rem;
    margin-bottom: 157px;
    position: relative;
    z-index: 1;
    margin-top:1rem;
    transition:all .3s ease-in-out;
    &:hover{
      background:rgba(255,255,255,.8);
      color:black;
    }
  }

}
.hamburger{
  float:right;
  margin-top:1rem;

  span{
    width: 20px;
    height: 2px;
    margin-right: 1rem;
    position: relative;
    z-index: 2;
    display: block;
    background: white;
    margin-bottom:4px;
      transition:transform .5s;

  }
}
.animate-top{

  transform:translateY(4px)rotateZ(45deg);
}
.animate-bottom{
  transform:translateY(-2px)rotateZ(-45deg);
}

.welcome, .skills{
  width: 95%;
    margin: 0 auto;
    color: white;
    background: #00101F;
    margin-top: -86px;
    position: relative;
    background-color: rgba(0, 16, 31, 0.7);
    border: 1px solid white;
    background-color: #181818;
    h2{
      margin:0;
      padding-top:1rem;
      padding-left:.5rem;
      color:#88d1fb;
      font-size:2.5rem;
    }
    p{
      padding:.5rem;
      font-size:12px;
      padding-top:0;
    }
}
.skills{
  margin-top:.5rem;
  ul{
    list-style:none;
    padding-left:.5rem;
    display:inline-block;
  }
}
.underline{
  width:7rem;
  height:2px;
  background:grey;
  margin-left:.5rem;
  margin-bottom:1rem;
}
.portfolio{
  width:95%;
  margin:0 auto;
  margin-top:.5rem;
  background:black;
  position:relative;
  &:hover .modal{

    opacity:1;
  }
  &:hover h5{
    opacity:1;
    transform:scale(1.1);
  }
  &:hover h3{
    opacity:1;
    transform:scale(1.1);
  }



  img{
  width:100%;
  }

}
.modal{
  position:absolute;
  opacity:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.8);
  transition:all .3s ease-in-out;
  h3{
    color:white;
    opacity:0;
    text-align:center;
    margin-top:3rem;
    transition:all .5s ease-in-out;
  }
  h5{
    color:white;
    text-align:center;
    display:block;
    margin:0 auto;
    width:7rem;
    box-sizing:border-box;
    padding:.5rem;
    opacity:0;
    margin-top:1rem;
    border:1px solid white;
    transition:all .5s ease-in-out;
    &:hover{
      background:white;
      color:black;
    }
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
  color:#eee;
  font-size:1rem;
}
time{
  color:#88d1fb;
  display:block;
  font-size:1.3rem;
  font-family: 'Archivo Black', sans-serif;
  border-bottom:2px solid lightgrey;
  width:55px;
  margin-bottom:.5rem;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  border-radius:10px;
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background:black;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent black transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent black;
}
.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
  z-index:1;
}

.timeline ul li.in-view::after {
  background: black;
  box-shadow: 0px 1px 2px 1px black;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  box-shadow: 2px 2px 4px 0px black;
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;

    border-color: transparent black transparent transparent;
  }
}
.journey{
  text-align: center;
color: white;
background:black;
border:1px solid white;
margin-top: .5rem;
padding-top: 1rem;
padding-bottom: 1rem;
}
.featured{
  text-align: center;
color:black;
padding-top: 1rem;
padding-bottom: 1rem;
margin-top: 1rem;
}
#contact{
  background: black;
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position:relative;
    h2{
      text-align:center;
      margin-bottom:.5rem;
    }
    input{
      display:block;
      margin:0 auto;
      text-indent:10px;
      margin-bottom:.3rem;
    }
    textarea{
      display:block;
      margin:0 auto;
    }
    .submit{
      text-indent:0px;
      background:green;
      color:white;
      width:100px;
      margin-top:.5rem;
    }
}
.contact-modal{
  position:absolute;
  background:black;
  width:100%;
  height:162px;
  p{
    text-align: center;
    padding-top: 30%;
    padding-bottom: .5rem;
  }
  .fa-check-circle{
    display:block;
    color:green;
    font-size:2rem;
    text-align:center;
  }

}
.fail-modal{
  position:absolute;
  background:black;
  width:100%;
  height:162px;
  p{
    text-align: center;
    padding-top: 30%;
    padding-bottom: .5rem;
  }
  .fa-times-circle{
    display:block;
    color:red;
    font-size:2rem;
    text-align:center;
  }

}
